<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Player</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>
    <script src="/public/lib/extender.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/ui.css">
    <link rel="stylesheet" href="style.scss">
</head>
<body>
    <div id="app">
        <!-- Folder mode -->
        <div class="icon-list">
            <!-- Folder -->
            <div v-if="file.isFolder" @click="selectPath(file.path)"
                 class="icon" v-for="file in fileList" :style="iconStyle">
                <img class="folder" src="folder.png" alt="Folder">
                <div>{{ file.name }}</div>
            </div>

            <!-- Images -->
            <div v-if="!file.isFolder && file.poster" @click="selectVideo(file.path)"
                 class="with-poster icon" v-for="file in fileList"
                 :style="[ iconStyle, { backgroundImage: `url('${file.poster}')` } ]">

            </div>

            <!-- Standard icon -->
            <div v-if="!file.isFolder && !file.poster" @click="selectVideo(file.path)"
                 class="without-poster icon" v-for="file in fileList" :style="iconStyle">
                <img src="video_file.png" alt="Video File">
                <span>{{ file.name }}</span>
            </div>

            <!-- Show video -->
            <div v-if="currentVideo" @click="currentVideo = null" class="selected-video">
                <video :src="currentVideo" autoplay controls></video>
            </div>
        </div>
    </div>
    <script>
        (async () => {
            await VDE.initWithVue({
                tabs: [],
                components: [],
                windowSize: [400, 550],
                async start(args) {
                    // Load all video files in docs
                    this.fileTree = await VDE.getFileTree('/', 'docs', '(mp4)$');
                    this.filterFiles();

                    // Resize icons
                    setInterval(() => {
                        if (!document.querySelector('.icon')) return;
                        this.iconStyle.height = document.querySelector('.icon').getBoundingClientRect().width + 'px';
                    }, 128);
                },
                method: {
                    // Select folder
                    selectPath(path) {
                        this.currentPath = path;
                        this.filterFiles();
                    },

                    // Show video
                    selectVideo(url) {
                        this.currentVideo = '/docs' + url;
                    },

                    // Filter files
                    async filterFiles() {
                        this.fileList.length = 0;
                        let fileList = Extender.dir.getFiles(this.currentPath, this.fileTree);

                        for (let i = 0; i < fileList.length; i++) {
                            if (fileList[i].isFolder) continue;
                            if (await VDE.fileExists(fileList[i].path + '.jpg', 'docs'))
                                fileList[i].poster = '/docs' + fileList[i].path + '.jpg';
                        }

                        this.fileList.push(...fileList);
                    }
                },
                data: {
                    currentPath: '/',
                    currentVideo: '',

                    fileTree: [],
                    fileList: [],
                    iconStyle: {
                        display: 'flex',
                        flexDirection: 'column',
                        width: '25%',
                        height: '48px'
                    }
                }
            });
        })();
    </script>
</body>
</html>