html, body, #app {
  width: 100%;
  height: 100%;

  .icon-list {
    display: flex;
    flex-wrap: wrap;

    .folder {
      width: 50%;
      height: 50%;
      margin-bottom: 10px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      overflow: hidden;

      video {
        width: 100%;
      }
    }

    .with-poster {
      background-size: cover;
    }

    .without-poster {
      word-break: break-word;
      font-size: 12px;
      padding: 5px;

      img {
        width: 50%;
      }

      span {
        margin-top: 10px;
      }
    }
  }

  .selected-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000b3;

    video {
      max-width: 100%;
      max-height: 100%;
      user-select: none;
    }
  }
}